<!DOCTYPE html>
<html>
<head>
  <title>Personalize Example</title>
</head>
<body>
  <h1>Personalized Page</h1>

	<h2>Personalized Content Entry</h2>
	<p>UID: <%= contentEntryUID %></p>
	<p>Title: <%= contentEntryTitle %></p>
	<p>Desc: <%= contentEntryDesc %></p>

  <div style="width: 430px; height: 4075px; position: relative; background: white; overflow: hidden">
    <div style="width: 78px; height: 30px; left: 430px; top: 555px; position: absolute; opacity: 0.40; background: black; box-shadow: 0px 1.7000000476837158px 19.266666412353516px 1.1333333253860474px rgba(0, 0, 0, 0.18); border-radius: 28.33px"></div>
    <div style="width: 64.34px; height: 12px; left: 437px; top: 564px; position: absolute; text-align: center; color: white; font-size: 10px; font-family: Roboto; font-weight: 400; line-height: 11px; word-wrap: break-word">Tune Up</div>
    <div style="width: 18.81px; height: 11.65px; left: -5.04px; top: 1248px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 2.76px; height: 8.67px; left: 2.99px; top: 1248px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.27px; height: 16.48px; left: -45.43px; top: 1252.58px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 5.34px; height: 8.85px; left: -38.01px; top: 1255.65px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.81px; height: 18.81px; left: -78.24px; top: 1272.81px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 7.68px; height: 7.68px; left: -72.57px; top: 1278.49px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 16.48px; height: 18.27px; left: -98.48px; top: 1305.62px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 8.85px; height: 5.34px; left: -95.40px; top: 1313.04px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 11.65px; height: 18.81px; left: -103.05px; top: 1346.02px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 8.67px; height: 2.76px; left: -103.05px; top: 1354.05px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 16.48px; height: 18.27px; left: -98.48px; top: 1386.95px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 8.85px; height: 5.34px; left: -95.40px; top: 1392.46px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.81px; height: 18.81px; left: -78.24px; top: 1419.22px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 7.68px; height: 7.68px; left: -72.57px; top: 1424.68px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.27px; height: 16.48px; left: -45.43px; top: 1441.79px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 5.34px; height: 8.85px; left: -38.01px; top: 1446.35px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.81px; height: 11.65px; left: -5.04px; top: 1451.20px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 2.76px; height: 8.67px; left: 2.99px; top: 1454.17px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.27px; height: 16.48px; left: 35.90px; top: 1441.79px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 5.34px; height: 8.85px; left: 41.41px; top: 1446.35px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.81px; height: 18.81px; left: 68.17px; top: 1419.22px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 7.68px; height: 7.68px; left: 73.62px; top: 1424.68px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 16.48px; height: 18.27px; left: 90.73px; top: 1386.95px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 8.85px; height: 5.34px; left: 95.29px; top: 1392.46px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 11.65px; height: 18.81px; left: 100.15px; top: 1346.02px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 8.67px; height: 2.76px; left: 103.12px; top: 1354.05px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 16.48px; height: 18.27px; left: 90.73px; top: 1305.62px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 8.85px; height: 5.34px; left: 95.29px; top: 1313.04px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.81px; height: 18.81px; left: 68.17px; top: 1272.81px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 7.68px; height: 7.68px; left: 73.62px; top: 1278.49px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 18.27px; height: 16.48px; left: 35.90px; top: 1252.58px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 5.34px; height: 8.85px; left: 41.41px; top: 1255.65px; position: absolute; outline: 1px black solid; outline-offset: -0.50px"></div>
    <div style="width: 154px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 138px; top: 1226px; position: absolute; background: #E20404; border-radius: 80px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 15.40px; word-wrap: break-word">Schedule Visit</div>
    </div>
    <div style="width: 457px; height: 388px; left: 0px; top: 1934px; position: absolute; background: black"></div>
    <div style="width: 154px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 204px; top: 2227px; position: absolute; background: #E20404; border-radius: 80px; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 15.40px; word-wrap: break-word">Schedule Visit</div>
    </div>
    <img style="width: 191px; height: 388px; left: -16px; top: 1934px; position: absolute; border-top-left-radius: 15px; border-bottom-left-radius: 15px" src="https://placehold.co/191x388" />
    <div style="width: 78px; left: 30px; top: 2288px; position: absolute; color: white; font-size: 10px; font-family: Roboto; font-weight: 300; line-height: 11px; letter-spacing: 0.10px; word-wrap: break-word">T&Cs apply</div>
    <div style="width: 169px; left: 204px; top: 2052px; position: absolute; color: #DDDDDD; font-size: 13px; font-family: Roboto; font-weight: 300; line-height: 20px; letter-spacing: 0.13px; word-wrap: break-word">Keep your windows crystal clear this winter. No more fog, just perfect visibility every day.</div>
    <div style="left: 204px; top: 2021px; position: absolute; color: #FDFDFD; font-size: 20px; font-family: Industry; font-weight: 500; line-height: 22px; word-wrap: break-word">A/C System Evaluation</div>
    <div style="left: 204px; top: 2165px; position: absolute; color: white; font-size: 34.97px; font-family: Industry; font-weight: 500; line-height: 38.46px; word-wrap: break-word">$9.99</div>
    <div style="left: 204px; top: 2146px; position: absolute; color: #DDDDDD; font-size: 14px; font-family: Roboto; font-weight: 300; line-height: 15.40px; word-wrap: break-word">$49.99</div>
    <div style="width: 351px; left: 44px; top: 1089px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Industry; font-weight: 400; line-height: 32px; word-wrap: break-word"> Big Apple.    Bigger potholes. </div>
    <div style="width: 381px; left: 29px; top: 1159px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Roboto; font-weight: 400; line-height: 42px; word-wrap: break-word">Get your wheels realigned this winter</div>
    <div style="width: 401px; left: 12px; top: 1842px; position: absolute; text-align: center; color: black; font-size: 28px; font-family: Industry; font-weight: 400; line-height: 30.80px; word-wrap: break-word">Special offers for you</div>
    <div style="width: 175px; height: 377px; left: 29px; top: 2390px; position: absolute; background: #F1F1F1; border-radius: 15px"></div>
    <img style="width: 204px; height: 194px; left: 234px; top: 2586px; position: absolute; transform: rotate(180deg); transform-origin: top left; border-top-left-radius: 15px" src="https://placehold.co/204x194" />
    <div style="width: 168px; left: 47px; top: 2564px; position: absolute; color: black; font-size: 20px; font-family: Industry; font-weight: 500; line-height: 22px; word-wrap: break-word">Free Oil Change </div>
    <div style="width: 140px; left: 47px; top: 2597px; position: absolute; color: black; font-size: 14px; font-family: Roboto; font-weight: 300; line-height: 20px; word-wrap: break-word">Treat your car and add a free oil change onto your next visit.</div>
    <div style="width: 129px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 46px; top: 2681px; position: absolute; background: black; border-radius: 80px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 15.40px; word-wrap: break-word">Book Now</div>
    </div>
    <div style="width: 433px; height: 657px; left: -1px; top: 2913px; position: absolute; background: #0A63BF"></div>
    <div style="width: 312px; height: 125px; left: 57px; top: 3026px; position: absolute; text-align: center; color: white; font-size: 28px; font-family: Industry; font-weight: 400; line-height: 38px; word-wrap: break-word">Join the Pep Boys Loyalty Program to    get exclusive perks</div>
    <div style="width: 275px; left: 71px; top: 3171px; position: absolute; text-align: center"><span style="color: white; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 21px; word-wrap: break-word">Get </span><span style="color: white; font-size: 14px; font-family: Roboto; font-weight: 700; line-height: 21px; word-wrap: break-word">FREE</span><span style="color: white; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 21px; word-wrap: break-word"> access to discounts on select tires, personalized coupons, preferred customer service, and more. </span><span style="color: white; font-size: 14px; font-family: Roboto; font-weight: 400; text-decoration: underline; line-height: 21px; word-wrap: break-word">Learn More</span></div>
    <img style="width: 452px; height: 214px; left: -10px; top: 3356px; position: absolute" src="https://placehold.co/452x214" />
    <div style="width: 52.11px; height: 35.80px; left: 193.92px; top: 2954px; position: absolute; background: white"></div>
    <div style="width: 15.35px; height: 12.70px; left: 175px; top: 2977.13px; position: absolute; background: white"></div>
    <div style="width: 69.24px; height: 13.13px; left: 175.11px; top: 2981.28px; position: absolute; background: white"></div>
    <div style="width: 34.63px; height: 17.65px; left: 230.37px; top: 2978.51px; position: absolute; background: white"></div>
    <div style="width: 13.18px; height: 1.03px; left: 251.69px; top: 2993.40px; position: absolute; background: white"></div>
    <div style="width: 2.68px; height: 0.74px; left: 235.80px; top: 2973.07px; position: absolute; background: #231815"></div>
    <div style="width: 5.28px; height: 3.45px; left: 200.52px; top: 2969.48px; position: absolute; background: #231815"></div>
    <div style="width: 2.72px; height: 0.91px; left: 202.03px; top: 2973.47px; position: absolute; background: #231815"></div>
    <div style="width: 2.17px; height: 1.93px; left: 232.33px; top: 2969.08px; position: absolute; background: #231815"></div>
    <div style="width: 2.16px; height: 1.75px; left: 239.87px; top: 2969.08px; position: absolute; background: #231815"></div>
    <div style="width: 0.90px; height: 0.37px; left: 235.33px; top: 2969.35px; position: absolute; background: #231815"></div>
    <div style="width: 7.33px; height: 1.75px; left: 233.45px; top: 2970.47px; position: absolute; background: #231815"></div>
    <div style="width: 50.94px; height: 22.69px; left: 193.53px; top: 2954.69px; position: absolute; background: #231815"></div>
    <div style="width: 5.20px; height: 2.83px; left: 231.43px; top: 2964.07px; position: absolute; background: #231815"></div>
    <div style="width: 5.97px; height: 6.34px; left: 236.57px; top: 2964.29px; position: absolute; background: #231815"></div>
    <div style="width: 5.14px; height: 1.84px; left: 215.16px; top: 2963.95px; position: absolute; background: #231815"></div>
    <div style="width: 2.96px; height: 1.35px; left: 216.40px; top: 2965.91px; position: absolute; background: #231815"></div>
    <div style="width: 5.14px; height: 1.84px; left: 221px; top: 2963.96px; position: absolute; background: #231815"></div>
    <div style="width: 2.94px; height: 1.35px; left: 221.91px; top: 2965.91px; position: absolute; background: #231815"></div>
    <div style="width: 3.75px; height: 0.65px; left: 218.78px; top: 2973.63px; position: absolute; background: #231815"></div>
    <div style="width: 9.10px; height: 3.13px; left: 216.11px; top: 2969.68px; position: absolute; background: #231815"></div>
    <div style="width: 115px; left: 158px; top: 2836px; position: absolute; color: black; font-size: 16px; font-family: Roboto; font-weight: 500; line-height: 17.60px; word-wrap: break-word">See All Offers</div>
    <div style="width: 10.14px; height: 4px; left: 258px; top: 2847.17px; position: absolute; transform: rotate(-45deg); transform-origin: top left; border: 1px #FF0101 solid"></div>
    <div style="width: 217px; left: 170px; top: 3626px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div style="align-self: stretch; color: black; font-size: 20px; font-family: Industry; font-weight: 600; line-height: 26px; word-wrap: break-word">FREE Inspection      with Service</div>
      <div style="align-self: stretch; color: #575757; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 15.40px; word-wrap: break-word">We’ll help you monitor your car’s health</div>
    </div>
    <div style="width: 217px; left: 170px; top: 3806px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div style="align-self: stretch; color: black; font-size: 20px; font-family: Industry; font-weight: 600; line-height: 26px; word-wrap: break-word">Mobile Appointment Updates</div>
      <div style="align-self: stretch; color: #575757; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 15.40px; word-wrap: break-word">Follow the status of your appointment from your phone</div>
    </div>
    <div style="width: 217px; left: 170px; top: 3986px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
      <div style="align-self: stretch; color: black; font-size: 20px; font-family: Industry; font-weight: 600; line-height: 26px; word-wrap: break-word">Trust through transparency</div>
      <div style="align-self: stretch; color: #575757; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 15.40px; word-wrap: break-word">Our policy is to provide written recommendations and estimates, and to perform work only with your authorization.</div>
    </div>
    <div style="width: 379px; height: 0px; left: 32px; top: 3762px; position: absolute; outline: 1px #B9B9B9 solid; outline-offset: -0.50px"></div>
    <div style="width: 379px; height: 0px; left: 32px; top: 3942px; position: absolute; outline: 1px #B9B9B9 solid; outline-offset: -0.50px"></div>
    <div style="width: 175px; height: 377px; left: 215px; top: 2390px; position: absolute; background: #F1F1F1; border-radius: 15px"></div>
    <div style="width: 168px; left: 232px; top: 2540px; position: absolute; color: black; font-size: 20px; font-family: Industry; font-weight: 500; line-height: 22px; word-wrap: break-word">Wiper Replacement</div>
    <div style="width: 140px; left: 233px; top: 2597px; position: absolute; color: black; font-size: 14px; font-family: Roboto; font-weight: 300; line-height: 20px; word-wrap: break-word">Enjoy free installation with any wiper blade purchase.</div>
    <div style="width: 129px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 232px; top: 2681px; position: absolute; background: black; border-radius: 80px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 15.40px; word-wrap: break-word">See Deals</div>
    </div>
    <img style="width: 128.19px; height: 117.28px; left: 285.18px; top: 2413.60px; position: absolute; transform: rotate(38deg); transform-origin: top left" src="https://placehold.co/128x117" />
    <div style="width: 175px; height: 377px; left: 400.48px; top: 2392px; position: absolute; background: #F1F1F1; border-radius: 15px"></div>
    <img style="width: 91px; height: 122px; left: 443px; top: 2420px; position: absolute; mix-blend-mode: darken" src="https://placehold.co/91x122" />
    <div style="width: 168px; left: 418.48px; top: 2542px; position: absolute; color: black; font-size: 20px; font-family: Industry; font-weight: 500; line-height: 22px; word-wrap: break-word">Buy One,<br/>Get one Free</div>
    <div style="width: 140px; left: 418.48px; top: 2599px; position: absolute; color: black; font-size: 14px; font-family: Roboto; font-weight: 300; line-height: 20px; word-wrap: break-word">Treat your car and add a free oil change onto your next visit</div>
    <div style="width: 129px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 417.48px; top: 2683px; position: absolute; background: black; border-radius: 80px"></div>
    <div style="width: 99px; height: 99px; left: 44px; top: 3626px; position: absolute; background: #F1F1F1; border-radius: 9999px"></div>
    <div style="width: 99px; height: 99px; left: 44px; top: 3796px; position: absolute; background: #F1F1F1; border-radius: 9999px"></div>
    <div style="width: 99px; height: 99px; left: 44px; top: 3976px; position: absolute; background: #F1F1F1; border-radius: 9999px"></div>
    <div style="width: 47px; height: 47px; left: 71px; top: 3651px; position: absolute; background: #1A1A1A"></div>
    <div style="width: 33px; height: 59.94px; left: 77px; top: 3817.06px; position: absolute; background: black"></div>
    <div style="width: 4.49px; height: 1.15px; left: 91.25px; top: 3820.32px; position: absolute; background: black"></div>
    <div style="width: 10.16px; height: 9.34px; left: 89.08px; top: 3840.50px; position: absolute; background: black"></div>
    <div style="width: 19.08px; height: 19.08px; left: 84.31px; top: 3835.95px; position: absolute; background: black"></div>
    <div style="width: 9.80px; height: 3.46px; left: 88.95px; top: 3871.04px; position: absolute; background: black"></div>
    <div style="width: 31.85px; height: 1.15px; left: 77.58px; top: 3868.74px; position: absolute; background: black"></div>
    <div style="width: 33px; height: 59.94px; left: 77px; top: 3997.06px; position: absolute; background: black"></div>
    <div style="width: 4.49px; height: 1.15px; left: 91.25px; top: 4000.32px; position: absolute; background: black"></div>
    <div style="width: 10.16px; height: 9.34px; left: 89.08px; top: 4020.50px; position: absolute; background: black"></div>
    <div style="width: 19.08px; height: 19.08px; left: 84.31px; top: 4015.95px; position: absolute; background: black"></div>
    <div style="width: 9.80px; height: 3.46px; left: 88.95px; top: 4051.04px; position: absolute; background: black"></div>
    <div style="width: 31.85px; height: 1.15px; left: 77.58px; top: 4048.74px; position: absolute; background: black"></div>
    <div style="left: 312px; top: 693px; position: absolute; justify-content: flex-start; align-items: center; gap: 32px; display: inline-flex">
      <div style="width: 8px; height: 8px; position: relative"></div>
    </div>
    <div style="width: 430px; height: 424px; left: 0px; top: 1365px; position: absolute">
      <div style="width: 430px; height: 424px; left: 0px; top: 0px; position: absolute; background: #F1F1F1"></div>
      <div style="width: 203px; left: 31px; top: 45px; position: absolute; color: black; font-size: 24px; font-family: Industry; font-weight: 400; line-height: 27.60px; word-wrap: break-word">Next Appointment Available</div>
      <div style="width: 225.98px; left: 32px; top: 123px; position: absolute"><span style="color: black; font-size: 18px; font-family: Industry; font-weight: 700; line-height: 24px; letter-spacing: 0.26px; word-wrap: break-word">Monday, December 1st</span><span style="color: black; font-size: 18px; font-family: Roboto; font-weight: 700; line-height: 24px; letter-spacing: 0.26px; word-wrap: break-word">     </span><span style="color: black; font-size: 15px; font-family: Roboto; font-weight: 400; line-height: 24px; letter-spacing: 0.26px; word-wrap: break-word">8am to 12pm </span></div>
      <div style="width: 129px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 32px; top: 317px; position: absolute; background: black; border-radius: 80px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 15.40px; word-wrap: break-word">Book Now</div>
      </div>
      <img style="width: 424px; height: 189px; left: 430px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: top left" src="https://placehold.co/424x189" />
      <div style="width: 152px; left: 32px; top: 253px; position: absolute; color: black; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 20px; letter-spacing: 0.30px; word-wrap: break-word">1846 5th Avenue,      Bay Shore, NY 11717</div>
      <div style="width: 21px; height: 27px; left: 367px; top: 116px; position: absolute; background: black"></div>
      <div style="width: 119px; left: 32px; top: 229px; position: absolute; color: #0A62BE; font-size: 12px; font-family: Roboto; font-weight: 600; line-height: 13.20px; letter-spacing: 1.44px; word-wrap: break-word">CLOSEST TO YOU </div>
      <div style="width: 179px; height: 0px; left: 32px; top: 204px; position: absolute; outline: 1px #C9C9C9 solid; outline-offset: -0.50px"></div>
    </div>
    <div style="width: 175px; height: 143px; left: 0px; top: 1934px; position: absolute; background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, black 100%)"></div>
    <div style="width: 50px; height: 0px; left: 201px; top: 2153px; position: absolute; outline: 1.20px #E20404 solid; outline-offset: -0.60px"></div>
    <div style="width: 125px; left: 204px; top: 1993px; position: absolute; color: #DDDDDD; font-size: 12px; font-family: Roboto; font-weight: 500; text-transform: uppercase; line-height: 13.20px; letter-spacing: 0.96px; word-wrap: break-word">ExpireS 12/06/25</div>
    <div style="width: 13px; height: 13px; left: 187px; top: 2787px; position: absolute; background: #FF0000; border-radius: 9999px"></div>
    <div style="width: 13px; height: 13px; left: 208.12px; top: 2787px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 13px; height: 13px; left: 229.25px; top: 2787px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div style="width: 129px; height: 44px; padding-left: 23px; padding-right: 23px; padding-top: 12px; padding-bottom: 12px; left: 148px; top: 3266px; position: absolute; background: black; border-radius: 80px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
      <div style="text-align: center; color: white; font-size: 14px; font-family: Roboto; font-weight: 500; line-height: 15.40px; word-wrap: break-word">Join Today</div>
    </div>
    <div style="width: 430px; height: 604px; left: 0px; top: 64px; position: absolute; overflow: hidden">
      <div style="width: 430px; height: 608px; left: 0px; top: -4px; position: absolute; background: #0A63BF"></div>
    </div>
    <div style="width: 430px; height: 64px; left: 0px; top: 0px; position: absolute">
      <div style="width: 430px; height: 64px; left: 0px; top: 0px; position: absolute; background: white"></div>
      <img style="width: 120px; height: 60px; left: 155px; top: 2px; position: absolute" src="https://placehold.co/120x60" />
      <div style="width: 21.23px; height: 13.52px; left: 374.81px; top: 23px; position: absolute; background: #1C305E; outline: 0.20px #1C305E solid; outline-offset: -0.10px"></div>
      <div style="width: 3.29px; height: 3.68px; left: 382.69px; top: 37.32px; position: absolute; background: #1C305E; outline: 0.20px #1C305E solid; outline-offset: -0.10px"></div>
      <div style="width: 3.29px; height: 3.68px; left: 389.24px; top: 37.32px; position: absolute; background: #1C305E; outline: 0.20px #1C305E solid; outline-offset: -0.10px"></div>
      <div style="width: 20px; height: 18px; left: 335px; top: 23px; position: absolute; outline: 1px #1C305E solid; outline-offset: -0.50px"></div>
      <div style="width: 20px; height: 9px; left: 335px; top: 29px; position: absolute; outline: 1px #1C305E solid; outline-offset: -0.50px"></div>
    </div>
    <div data-property-1="Variant2" style="width: 382px; height: 359px; left: -7px; top: 737px; position: absolute"></div>
    <img style="width: 430.19px; height: 726px; left: 0px; top: 0px; position: absolute" src="https://placehold.co/430x726" />
  </div>
</body>
</html>
